{% extends "base.html" %}

{% block content %}
    <main>
        <h1>My Receipts</h1>
        <table>
            <tr>
                <th scope="col">Vendor</th>
                <th scope="col">Total</th>
                <th scope="col">Tax</th>
                <th scope="col">Date</th>
                <th scope="col">Category</th>
                <th scope="col">Account</th>
            </tr>
            {% for item in receipt_list %}
                <tr>
                    <td>{{ item.vendor }}</td>
                    <td>{{ item.total }}</td>
                    <td>{{ item.tax }}</td>
                    <td>{{ item.date|date:"m/d/y" }}</td>
                    <td>{{ item.category }}</td>
                    <td>{{ item.account }}</td>
                </tr>
            {% endfor %}
        </table>
    </main>
{% endblock content %}
